<%- include("layout/head.ejs") %>
<%- include("layout/navigation.ejs") %>
    <div class="d-flex justify-content-center mt-3">
        <h2>Page Not Found!</h2>
    </div>
<%- include("layout/end.ejs") %>