<%- include("layout/head.ejs") %> 
<%- include("layout/navigation.ejs") %> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container ">
            <h1 class="display-4 d-flex justify-content-center">Welcome to people.inc</h1>
            <p class="lead d-flex justify-content-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <section class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Register
                </button>
            </section>
           
        </div>
    </div>
    
<%- include("layout/services.ejs") %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/users" method="POST">
                        <div class="form-group">
                            <label for="nameUser">Name</label>
                            <input type="text" class="form-control" id="nameUser" name="name_user">
                        </div>
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="text" class="form-control" id="image" name="image">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include("layout/end.ejs") %>