<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <h2>People.inc</h2>
            <ul class="main-header-list">
                <li class="main-header-item-list"><a href="/">Home</a></li>
                <li class="main-header-item-list"><a href="/users">List Users</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content-home">
        <h2>Welcome to the best people management service</h2>
    </main>

</body>

</html>