<div class="d-flex justify-content-center p-2">
    <h2>Services</h2>
</div>
    
<div class="d-flex justify-content-around">
    <div class="card" style="width: 300px;">
        <img src="https://images.unsplash.com/photo-1486916856992-e4db22c8df33?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cGhvdG9ncmFwaHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top" alt="pencil" style="width: auto; height: 200px;">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card" style="width: 300px;">
        <img src="https://images.unsplash.com/photo-1486693128850-a77436e7ba3c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8dmlkZW9ncmFwaHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top" alt="book" style="width: auto; height: 200px;">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card" style="width: 300px;">
        <img src="https://images.unsplash.com/photo-1506097425191-7ad538b29cef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhcGhpYyUyMGRlc2lnbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
            class="card-img-top" alt="pen" style="width: auto; height: 200px;">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>